<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>662890025723-en41t29ugn21bed9fv06jlohfo4a29cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662890025723-en41t29ugn21bed9fv06jlohfo4a29cf</string>
	<key>API_KEY</key>
	<string>AIzaSyDdE9lU78wA9TK6GJy1r82NH7yesu5PpZg</string>
	<key>GCM_SENDER_ID</key>
	<string>662890025723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SocialtopiasDemo.myApp</string>
	<key>PROJECT_ID</key>
	<string>socialtopiasdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>socialtopiasdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:662890025723:ios:2d232d5e13fea323</string>
	<key>DATABASE_URL</key>
	<string>https://socialtopiasdemo.firebaseio.com</string>
</dict>
</plist>